<ul class="list-inline text-center footer-links">
  <h1>Follow BOSC 🍐</h1>
  <li>
    <a href="https://groups.google.com/forum/#!forum/bosc-announce" target="_new">
      <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <img src="/img/mailinglist.svg" class="fa-stack-1x fa-inverse"></i>
                  </span>
    </a>
  </li>

 <li>
    <a href="http://f1000research.com/collections/BOSC" target="_new">
      <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <img src="/img/f1000.jpg" class="fa-stack-1x fa-inverse"></i>
                  </span>
  </li>
  <li>
    <a href="https://join.slack.com/t/obf-bosc/shared_invite/zt-n5ur1gsj-z2C~69_4lYTFPg5tbWA8Ew" target="_new">
      <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <img src="/img/129_slack-icon.6fe86e28d6.jpg" class="fa-stack-1x fa-inverse"></i>
                  </span>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/groups/14344023/" target="_new">
      <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <img src="/img/linkedin-icon.png" class="fa-stack-1x fa-inverse"></i>
                  </span>
    </a>
  </li>
  <li>
    <a href="http://youtube.com/c/OBFBOSC" target="_new">
      <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <img src="/img/youtube-square.png" class="fa-stack-1x fa-inverse"></i>
                  </span>
    </a>
  </li>


   <li>
    <a href="https://bsky.app/profile/bosc.bsky.social" target="_new">
      <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <img src="/img/bluesky-square-logo.jpg" class="fa-stack-1x fa-inverse"></i>
                  </span>
    </a>
  </li>

</ul>
