<ul class="list-inline text-center footer-links">
  <h1>Follow BOSC 🍐</h1>
  <li>
    <a href="https://groups.google.com/forum/#!forum/bosc-announce">
      <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                  </span>
    </a>
  </li>

  <li>
      <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-bluesky fa-stack-1x fa-inverse"></i>
                  </span>
  </li>
  <li>
      <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-slack fa-stack-1x fa-inverse"></i>
                  </span>
  </li>
  <li>
      <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
  </li>
  <li>
      <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                  </span>
  </li>
<li>
      <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <img src="/img/f1000.jpg" class="fa-stack-1x fa-inverse"></i>
                  </span>
  </li>


</ul>
